* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
}

h1, p, h3, h2, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 50;
  display: none;
}

#modal-cross:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(0%) hue-rotate(186deg) brightness(106%) contrast(101%);
}

#back-modal {
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  top: 185px;
}

#back-modal h4 {
  font-family: "Commissioner", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 25px;
}

#modal-cross {
  position: relative;
  bottom: 52px;
  left: 655px;
}

#back-modal > p {
  padding-bottom: 25px;
}

.pledge-radio-div {
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
}

.pledge-radio-main {
  padding: 33px;
  padding-right: 23px;
}

.modal-text {
  margin-left: 0px;
}

.modal-text .container-rowflex {
  margin-bottom: 20px;
  justify-content: start;
}

.modal-text .subheadings {
  font-family: "Commissioner", sans-serif;
  color: black;
  font-weight: 700;
  font-size: 16px;
  min-width: fit-content;
}

.modal-text .pledge-text {
  margin-right: auto;
  margin-left: 15px;
}

.modal-text .stat-title {
  font-family: "Commissioner", sans-serif;
  color: black;
  font-weight: 700;
  font-size: 16px;
  margin-right: 5px;
}

.radio-toggle-div {
  display: flex;
  width: 100%;
}

.radio {
  position: relative;
  right: 15px;
  bottom: 28px;
}

.pledge-radio-money {
  display: none;
}

.pledge-radio-div.active .pledge-radio-money {
  display: block;
  border-top: 1px solid #cccccc;
  padding: 23px;
}

.pledge-radio-money input {
  outline: none;
  border-radius: 30px;
  border: 1px solid #3cb4ac;
  padding: 17px;
  padding-left: 60px;
  padding-right: 40px;
  font-family: "Commissioner", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 16px;
  width: 147.23px;
  height: 53.2px;
  margin-right: 10px;
}

.dolla {
  position: relative;
  left: 117px;
}

.excl {
  z-index: 10;
  position: relative;
  left: 45px;
  color: red;
}

#navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  padding: 150px;
  padding-top: 145px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  background-image: linear-gradient(black, transparent);
}

#logo {
  margin-right: auto;
}

.nav-links {
  margin-inline-start: 30px;
  font-family: "Commissioner", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

#hamburger {
  display: none;
}

#banner {
  height: 410px;
  overflow: hidden;
}

#mobile-hero {
  display: none;
}

#desktop-hero {
  width: 100%;
  min-width: 1440px;
}

#mc-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  z-index: 1;
}

#main {
  width: 750px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 318px;
  z-index: 0;
}

#main::after {
  content: "";
  bottom: -100px;
  height: 100px;
  width: 1px;
}

.main-subdiv {
  background: white;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 50px;
  border: 1px solid #f2f2f2;
}

#product-title-div h1, .stat-title {
  font-family: "Commissioner", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 28px;
}

#product-title-div h1 {
  margin-bottom: 18px;
}

#product-title-div h1, #product-title-div p {
  text-align: center;
}

p {
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
  font-weight: 400;
  font-size: 16px;
}

#back-bm-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

button {
  outline: none;
  border-radius: 30px;
  border: 0px solid transparent;
  padding: 17px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3cb4ac;
  font-family: "Commissioner", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

button:hover {
  background: #147b74;
}

button:disabled {
  background: #7a7a7a;
}

#back-button {
  margin-right: auto;
}

#bm-icon {
  position: relative;
  left: 56px;
}

#bookmark-button {
  background: rgba(235, 235, 235, 0.377);
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
  font-weight: 500;
  font-size: 16px;
  padding-left: 73px;
}

#bookmark-button:hover, #bm-icon:hover ~ #bookmark-button {
  opacity: 0.5;
  background: #ebebeb;
}

#stats {
  columns: 3;
  column-rule: 1px solid #d6d6d6;
  column-gap: 80px;
  margin-bottom: 40px;
}

.progress-bar {
  height: 12px;
  border-radius: 20px;
}

#prg-total {
  background: whitesmoke;
}

#prg-done {
  background: #3cb4ac;
  width: 89.914%;
}

.subheadings {
  font-family: "Commissioner", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 21px;
}

#about-div {
  padding-bottom: 25px;
}

#about-div > p {
  margin-bottom: 40px;
}

#about-div > .subheadings {
  margin-bottom: 40px;
}

#about-subflex {
  display: flex;
  flex-direction: column;
}

.about-subdiv {
  padding: 33px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 25px;
}

.about-subdiv > p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-rowflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pledge-text {
  margin-left: auto;
  color: #3cb4ac;
  font-weight: 500;
}

.count-left {
  display: flex;
  align-items: center;
}

.left-p {
  display: inline;
  margin-right: auto;
  padding-left: 10px;
}

@media (max-width: 800px) {
  #navbar {
    top: -60px;
    padding: 20px;
    padding-top: 95px;
    padding-bottom: 100px;
    z-index: 1000;
  }

  .hidden-mobile-nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #navbar.responsive .hidden-mobile-nav {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    top: 147px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 10px;
    width: 335px;
    overflow: auto;
  }

  #navbar.responsive .hidden-mobile-nav a {
    font-family: "Commissioner", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    border: 1px solid #ebebeb;
    padding: 20px;
  }

  #banner {
    height: 280px;
  }

  #mc-logo {
    position: absolute;
    top: 205px;
    z-index: 1;
  }

  #main {
    top: 233px;
    width: 335px;
  }

  .main-subdiv {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    font-size: 14.5px;
  }

  #product-title-div h1 {
    font-family: "Commissioner", sans-serif;
    color: black;
    font-weight: 800;
    font-size: 22px;
  }

  #bookmark-button {
    display: none;
  }

  #back-button {
    margin-right: 0;
    padding-right: 50px;
    padding-left: 50px;
  }

  #bm-icon {
    position: static;
  }

  #back-bm-buttons {
    justify-content: space-between;
  }

  #stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
  }

  #stats > div {
    margin-bottom: 25px;
    text-align: center;
  }

  .stat-title {
    font-family: "Commissioner", sans-serif;
    color: black;
    font-weight: 800;
    font-size: 32px;
  }

  .about-subdiv .subheadings {
    font-family: "Commissioner", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .container-rowflex {
    flex-direction: column;
    align-items: flex-start;
  }

  .pledge-text {
    margin-left: 0;
  }

  .count-left {
    margin-bottom: 25px;
  }
}
@media (max-width: 376px) {
  #desktop-hero {
    display: none;
  }

  #mobile-hero {
    display: block;
    height: 280px;
    width: 375px;
  }
}

/*# sourceMappingURL=styles.css.map */
