*{
    box-sizing: border-box;
}
h1, h2, h3, p, a {
    margin: 0;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
    text-align: left;
}
body {
    background-color: hsl(218, 28%, 13%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-size: 38px;
    font-weight: 700;
}

button {
    background-color: hsl(198, 60%, 50%);
    color:white;
    width: 200px;
}


.io {
    outline: none;
    border-radius: 20px;
    padding: 10px;
    border: 0px transparent solid;
}
.card {
    height: 320px;
    width: 320px;
}
.icon {
    height: 88px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    width: 90%;
    margin-top: 70px;
    justify-content: space-between;
}
.col {
    flex-direction: column;
}
.row, .row1024 {
    flex-direction: row;
}
.left {
    align-items: flex-start;
}
.row-always {
    flex-direction: row;
}

.margin-l {
    margin-left: 60px;
}

.margin-t {
    margin-top: 30px;
}

[role = "banner"] {
    width: 720px;
}
[role = "article"] {
    margin-bottom: 50px;
}

.align-c {
    text-align: center;
}

.early {
    width: 75%;
    justify-content: space-evenly;
    margin-top: 70px;
}
[role = "application"] {
    background-color: hsl(217, 28%, 15%);
}
.testi {
    width: 410px;
    padding: 40px;
    padding-top: 55px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
}
[role = "grid"] {
    margin-bottom: 100px;
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

// --------------------------------
@media (max-width: 1024px) {
    .row1024 {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .row768 {
        flex-direction: column;
    }
    .early {
        flex-direction: column;
    }
}