h1, h2, h3, p, a {
    margin: 0;
    color: white;
}
body {
    background-color: hsl(218, 28%, 13%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    width: 94%;
    margin-top: 30px;
    justify-content: space-between;
}
.col {
    flex-direction: column;
}
.row, .row1024 {
    flex-direction: row;
}
.two {
    display: inline-block;
    column-count: 2;
}
.left {
    align-items: flex-start;
}
.row-always {
    flex-direction: row;
}

// --------------------------------
@media (max-width: 1024px) {
    .row1024 {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .row768 {
        flex-direction: column;
    }
    .two {
        columns: 1;
    }
}